<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

  <div class="row">
  <div style="height: 50px;"></div>
  <div class="col-lg-12">
  		<div class="col-lg-2"></div>
	  	<div class="col-lg-8 text-center jumbotron">
	    	<h1>Bienvenido al sistema de emision de voto en mesa <%= if Estado.first.id_en_linea.nil? then "no registrada" else Estado.first.id_en_linea end%></h1>
        <%=if Estado.first.id_en_linea.nil?%>
  	    	<strong>Dirección para registro:</strong> 
            <%=request.remote_ip + ":3000" %>
        <% end %>
	    </div>
   </div>
  </div>